{% extends "blog/base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-primary text-white">
                    <div class="card-body p-5">
                        <h2 class="card-title mb-4">New Comment</h2>

                        <form class="post-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="save btn btn-light btn-block mt-3">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
