{% extends "blog/base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                            <p class="card-text">{{ post.published_date|date:"D M Y" }}</p>
                            <p class="card-text">Number of Comments: {{ post.approved_comments_count }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
